@media only screen and (min-width:48rem){

    body{
        margin: 0 40px;
    }

    /** HEADER **/
    header{
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .header-title{
        padding: 0px;
        font-size: 20px;
        justify-content: start; 
    }

    .hamburger{
        display: none;
    }
    
    nav{
        border-top: 0px;
        margin-top: 0px;
    }

    nav ul{
        font-size: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    nav ul li{
        margin-bottom: 0;
    }

    nav ul li a{
        width: auto;
    }

    #nav-bar, #nav-bar.show{
        display: block;
    }

    /** FOOTER **/
    footer{
        padding: 20px 60px;
        grid-template-columns: repeat(3, 1fr);
    }

    .social-media {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    footer div span{
        text-align: center;
    }


}