@media only screen and (min-width:38rem){
    header, nav,main, footer{
        max-width: 900px;
        margin:0 auto;
    }

    .header{
        grid-template-columns: 24px auto;
    }

    .hamburger{
        display: none;
    }

    .navigation{
        display: block;
         background-color: white;
    }

    .navigation ul{
        flex-direction: row;
    }

    .navigation ul li:hover{
        background-color: whitesmoke;
    }

    .social-media ul{
        width: 60%;
    }

    main{
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: start;
        justify-content: center;
        gap: 15px;
    }

    main h1{
        grid-column: span 6;
    }

    .about-me{
        grid-column: span 4;
    }

    .student-photo{
      grid-column: span 2;
    }   

    .certificate-courses{
        margin: 0 40px;
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        justify-content: center;
        gap: 10px;
    }      

    .certificate-courses h2, .certificate-courses span{
        text-align: center;
        grid-column: span 3;
    }

    #courses{
        grid-column: span 3;
    }

}